<div class="table-toolbar" *ngIf="enableToolbar && getRealRowCount() > 0 && (enableSearch || enableCsvExport)">
  <mat-form-field appearance="outline" class="table-search" *ngIf="enableSearch">
    <mat-label>Search table</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    <button
      *ngIf="searchTerm"
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Clear search"
      (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <span class="row-count">{{ getFilteredRowCount() }} / {{ getRealRowCount() }} rows</span>

  <button
    *ngIf="enableCsvExport"
    mat-stroked-button
    type="button"
    class="export-button"
    [disabled]="getFilteredRowCount() === 0"
    (click)="exportCsv()">
    <mat-icon>download</mat-icon>
    Export CSV
  </button>
</div>

<ag-grid-angular
  class="base-data-grid"
  [theme]="gridTheme"
  [modules]="modules"
  [rowData]="rows"
  [columnDefs]="columnDefs"
  [autoSizeStrategy]="fillAvailableWidth ? undefined : autoSizeStrategy"
  domLayout="autoHeight"
  [animateRows]="false"
  [suppressColumnMoveAnimation]="!columnEditMode"
  [suppressCellFocus]="true"
  [suppressDragLeaveHidesColumns]="true"
  [suppressMovableColumns]="!columnEditMode"
  [enableBrowserTooltips]="false"
  [tooltipShowDelay]="700"
  [getRowClass]="getRowClass"
  (gridReady)="onGridReady($event)"
  (gridSizeChanged)="onGridSizeChanged($event)"
  (columnMoved)="onColumnMoved($event)"
  (rowClicked)="onGridRowClicked($event)">
</ag-grid-angular>
