<!-- Root must fill parent -->
<div class="grid-root">
    <!-- Dynamic grid based on component count -->
    <div class="grid" [ngClass]="'grid-' + components.length">
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
    </div>
  </div>
  