<div class="container" style="padding-right: 0; padding-left: 0; height: 100%;">
    <div class="lane-background" style="background-color: #333;height:84%;">
        <div class="lane" style="padding-top:15px;padding-bottom: 15px;height: 100%;">
            <div id="OperatorBlock" [style.background-color]="lane.oee?.lastSixMinutes?.color || '#333'" class="operator-block" style="height: 10%;margin: 0 15px 0 15px;">
                <div class="operator-text">
                    <div class="operator-content">OEE</div>
                </div>
            </div>
            <div id="DataBlock" class="data-block" style="height: 100%;margin: 0 15px 0 15px;">
                <div class="efficiency-value" [style.background-color]="lane.oee?.lastSixMinutes?.color || '#333'" style="height:30%">
                    <div class="value-text">{{lane.oee?.lastSixMinutes?.value || 0 | number: '1.0-0'}}%</div>
                </div>
                <div class="bars-container" style="height:70%">
                    <div class="bars">
                        <ct-data-bar [efficiency]="lane.oee?.lastFifteenMinutes" [margin]="'15px 10px 0 0'" class="bar"></ct-data-bar>
                        <ct-data-bar [efficiency]="lane.oee?.lastHour" [margin]="'15px 5px 0 5px'" class="bar"></ct-data-bar>
                        <ct-data-bar [efficiency]="lane.oee?.today" [margin]="'15px 0 0 10px'" class="bar"></ct-data-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ItemBlock" class="item-block item-block-background" style="height:16%; border-top: 0.5em solid #1f1f1f; border-bottom: 1em solid #333; background-color: #333;margin:0 0 15px 0">
        <div class="item-line">{{lane.machine}}</div>
    </div>
</div>