<div class="column-layout-container">
  <div class="columns-grid">
    <div *ngFor="let column of columnsToDisplay; trackBy: trackByIndex" class="column-item">
      <cm-operator-efficiency 
        [operatorId]="column.inputs?.operatorId || column.operatorId || column.operator" 
        [machineSerial]="column.inputs?.machineSerial || column.machineSerial || 0"
        [station]="column.inputs?.station || column.station || 0"
        style="height: 100%; width: 100%;">
      </cm-operator-efficiency>
    </div>
  </div>
</div>
