:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.use-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  app-carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
