@use '../chart-loading' as chart-loading;

@include chart-loading.styles;

:host { display: block; width: 100%; height: 100%; }
.chart-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  /*padding: 1rem;*/
}
.chart-content {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: visible;
}
app-stacked-bar-chart { display: block; width: 100%; height: 100%; }
