@use '../chart-loading' as chart-loading;

@include chart-loading.styles;

:host { display: block; width: 100%; height: 100%; }
.chart-container { width: 100%; height: 100%; box-sizing: border-box; /*padding: 1rem;*/ position: relative; }
.chart-content { position: relative; width: 100%; height: 100%; min-height: 0; }
bar-chart { display: block; width: 100%; height: 100%; }

