<!-- Root must fill parent -->
<div class="grid-root">
    <!-- 2x3 on wide, responsive on narrow -->
    <div class="grid">
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
      <div class="cell">
        <ng-container #slot></ng-container>
      </div>
    </div>
  </div>
